
.sidemenu .navbar{
    background: radial-gradient(
        ellipse at left bottom,
        rgba(53, 0, 0, 0.8) 0%,
        rgb(88, 0, 0) -59%,
        #800000 100%
      );
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 15px 20px;
    position: sticky;
}

.sidemenu .navbar .navbar__left{
    display: flex;
    justify-content: space-between;
}
.sidemenu .navbar .navbar__left .navbar__input{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    margin: auto;
    margin-left: 10px;
    border-radius: 33px;
    color: black;
    height: 35px;
}

.sidemenu .navbar .navbar__left .navbar__input > input{
    border:none;
    background-color: transparent;
    outline-width: 0;
}

.sidemenu .navbar .navbar__right{
    display: flex;
}


.sidemenu .navbar .navbar__right .navbar__info{
    display: flex;
    align-items: center;
}

.sidemenu .navbar .navbar__right .navbar__info > h4{
    margin-left: 10px;
}

.sidemenu .navbar .navbar__right .navbar__info .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}

.sidemenu .navbar .navbar__right .navbar__info .icons .icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 20px;
}

.sidemenu .navbar .navbar__right .navbar__info .icons .icon:hover{
    background-color: #800000;
    cursor: pointer;
}

.sidemenu .menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    margin-top: -5px;
    margin-right: 10px;
}

.sidemenu .nav-menu{
    background-color: rgb(88, 0, 0);
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;   
    overflow: hidden;   
}

.sidemenu .nav-menu-active{
    left: 0;
    transition: 350ms;
    width: fit-content;
    height: 100vh;
    overflow: hidden;  
    position: absolute;
    z-index: +1;
}

.sidemenu ul{
    list-style-type: none;
}

.sidemenu ul li{
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px, 0px, 8px, 16px;
    list-style: none;
    height: 60px;
}

.sidemenu ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    border-radius: 2px;
}

.sidemenu ul li a:hover{
    background-color: #800000;
}

.sidemenu .nav-menu-items{
    width: 100%;
}

.sidemenu .navbar-toggle{
    width: 100px;
    height: 80px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;  
}

.sidemenu span{
    margin-left: 16px;
}