.subirI div {
    height: '100vh';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subirI img{
        height: 50px;
        float: left;
}
.subirI button {
    width: auto;
    padding: 10px 10px;
    border-radius: 10px;
    border-color: white;
    background: #880000;
  }

.subirI input[type=file]{
    width: auto;
    padding: 10px 10px;
    border-radius: 10px;
    border-color: white;
    background: #880000;
}

.subirI .image-upload>input{
    display:none;
}