
.publicaciones{
  color: black;
  background-color: white;
  width: 65%;
  height: max-content;
  border-color: rgba(128, 128, 128, 0.178);
  border-style:outset;
  border-width: 0.01px;
  margin: auto;
  padding: 2px;
  padding-top: 5px;
  margin-top: 25px;
  box-shadow: 20px 20px 30px -20px rgba(53, 0, 0, 0.8);
  border-radius: 33px;
}

.publicaciones .foto{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  border-color:rgb(88, 0, 0);
  border: 1px;
  float: left;
  border-style: solid;
  border-width: 2px;
}

.publicaciones .nombre {
  color: black;
  align-self: flex-start;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}

.publicaciones .nombre a{
  color: black;
  align-self: flex-start;
  margin-left: 10px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}

.publicaciones .correo {
  color: rgb(94, 91, 91);
  margin-left: 20px;
  align-self: flex-start;
  margin-top: 0px;
}

.publicaciones .fecha {
  color: rgb(94, 91, 91);
  align-self: flex-end;
  margin-top: 10px;
  margin-left: 65%;
  margin-bottom: 0px;
  position: relative;
}

.publicaciones .cuerpo{
  text-align: start;
  background-color: white;
  width: 95%;
  height: max-content;
  display: flex;
  border-radius: 5px;
  padding-left: 110px;
  margin-top: 30px;
  outline: none;
  color: #800000;
  border: none;
}

.publicaciones .postimg{
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  border-radius: 0px;
  height: 200px;
  width: auto;
  display: block;
}

 .publicaciones .postimg[src=''] {
  display: none;
}

.publicaciones .likecomment{
  display: flex;
  justify-content: space-evenly;
}

.publicaciones .likecomment .icons >input{
  display:none;
}


.publicaciones .likecomment .icons .icon{
  cursor: pointer;
  border-color: black;
  padding-left: 10px;
  color: #000030;
}




/*Comentarios*/
.publicaciones .sicomentarios .publicar{
  text-align: center;
  background-color: white;
  width: 90%;
  height: 60px;
  display: flex;
  border-radius: 5px;
  margin:auto;
  padding: 9px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.publicaciones .sicomentarios .publicar img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border-color:rgb(88, 0, 0);
    border: 1px;
    float: left;
    border-style: solid;
    border-width: 2px;
}

.publicaciones .sicomentarios .publicar .pensamiento{
  border-radius: 10px;
  width: 100%;
  height: 30px;
  margin-left: 5px;
  background-color: rgba(131, 130, 130, 0.185);
  color:rgb(88, 0, 0);
  border: none;
  align-self: center;
  outline: none;
  padding: 0px;
  align-content: center;
}
.publicaciones .sicomentarios .publicar .pensamiento:hover{
  background-color: rgba(77, 75, 75, 0.384);
  outline: none;
}
.publicaciones .sicomentarios .publicar .cuerpo{
  display: none;
  }

.publicaciones .sicomentarios .publicar .extras {
    display: none;
  }

.publicaciones .sicomentarios .escribir{
  text-align: center;
  background-color: white;
  width: 90%;
  height: 105px;
  display: flex;
  border-radius: 5px;
  margin:auto;
  padding: 2px;
  border-width: 1px;
}

.publicaciones .sicomentarios .escribir img{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 1px;
  float: left;
  border-color: #000030;
  border-style: solid;
  border-width: 2px;
  margin: auto;
  margin-bottom: 50px;
}

.publicaciones .sicomentarios .escribir .pensamiento{
  display: none;
}


.publicaciones .sicomentarios .escribir .extras p{
  color: black;
 }

 .publicaciones .sicomentarios .escribir .cuerpo{
  border-radius: 10px;
  width: 100%;
  height: 50px;
  margin-left: 5px;
  background-color: rgba(131, 130, 130, 0.185);
  color:rgb(88, 0, 0);
  border: none;
  margin-top: 15px;
  min-height: 50px;
  max-height: 75px;
  display: block;
  outline: none;
  padding: 10px;
}


.publicaciones .sicomentarios .escribir  p{
   color: black;
  }
 
.publicaciones .sicomentarios .escribir .extras {
    position: absolute;
    display: block;
    margin-top: 40px;
    align-self: baseline;
    border-width: 1px;
    margin-left: 20%;
    height: 50px;
  }
.publicaciones .sicomentarios .escribir .extras .postear {
   width: 100px;
   background-color: #800000;
   height: 20px;
   color: white;
   border-radius: 4px;
   cursor: pointer;
   margin-left: 10px;
   border: none;
   margin-top: 10px;
   margin-bottom: 0px;
   align-self: initial;
   font-size: 15px;
   align-content: center;
   padding: 0px;
 }
.publicaciones .sicomentarios .escribir .extras .cancelar {
   width: 100px;
   background-color: rgba(51, 49, 49, 0.486);
   height: 20px;
   color: white;
   border-radius: 4px;
   cursor: pointer;
   align-self: initial;
   border: none;
   margin-top: 35px;
   margin-bottom: 0px;
   align-self: initial;
   font-size: 15px;
   align-content: center;
   padding: 0px;
 }

.publicaciones .nocomentarios .escribir{
display: none;
}
.publicaciones .nocomentarios .publicar{
  display: none;
}