* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
  }
  
  .signup button {
    border-radius: 3px;
    outline: none;
    width: 100%;
    padding: 15px 0;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #000020;
    cursor: pointer;
  }
  
  .signup {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    background: rgb(88, 0, 0);
    display: flex;
  }
  
  .signup .signupForm {
    padding: 60px;
    margin: auto;
    border-radius: 6px;
    width: 100%;
    max-width: 520px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #800000;
    box-shadow: 0 50px 70px -20px rgba(53, 0, 0, 0.8);
  }
  
  .signup .signupForm label {
    color: #ffffff;
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
  }
  
  .signup .signupForm input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    border-radius: 4px;
    background: #ffffff;
    color: #000050;
    letter-spacing: 1px;
  }
  
  .signup .signupForm .boton {
    width: 100%;
    padding: 24px 0;
  }
  
  .signup .signupForm .boton p {
    margin: 14px 0 0 0;
    text-align: right;
    color: #ffffff;
  }
  
  .signup .signupForm .boton p span {
    color: grey;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
  }
  
  .signup .signupForm .boton p span:hover {
    color: yellow;
  }
  
  .signup .signupForm .errorMsg {
    color: yellow;
    font-size: 16px;
  }

  .signup .signupForm h1 {
    color: #ffffff;
    align-self: center;
  }